<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;

        }

        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;

        }
    </style>
    <title>Boletim</title>
</head>

<body>
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-5">
                    <div class="col-6"> 
                        <h1>Boletim dos Alunos</h1>
                    </div>
                    <div class="col-6">
                        <a href="/cadastro" class="btn btn-primary">Cadastrar Notas</a>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Nota1</th>
                                <th>Nota2</th>
                                <th>Nota3</th>
                                <th>Média</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% itens.forEach(function(aluno){ %>
                            <tr>
                                <td><%= aluno.nome %></td>
                                <td><%= aluno.nota1 %></td>
                                <td><%= aluno.nota2 %></td>
                                <td><%= aluno.nota3 %></td>
                                <td><%= aluno.media %></td>
                            </tr>
                            
                            <% }) %>
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </section>






    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>