<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;

        }

        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;



        }
    </style>
    <title>Lista de Produtos</title>
</head>

<body>
    <section class="container">
        <div class="row">
            <div class="col">
                <div class="row mt-5">
                    <div class="col-6">
                        <h1>Lista de Produtos</h1>
                    </div>
                    <div class="col-6">
                        <a href="/cadastrarProdutos" class="btn btn-primary">Inserir Produto</a>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Valor</th>
                                <th>Codig. Barras</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody id="tabela">
                            <% itens.forEach(function(produto){ %>
                                <tr>
                                    <td>
                                        <%= produto.nome %>
                                    </td>
                                    <td>
                                        <%= produto.valor %>
                                    </td>
                                    <td>
                                        <%= produto.codigoBarras %>
                                    </td>

                                    <td>
                                        <a class="btn btn-warning" href="/editarProduto/<%=produto._id %>">Editar</a>
                                        <a class="btn btn-danger" href="/deletarProduto/<%=produto._id %>">Apagar</a>
                                    </td>

                                </tr>
                                

                                <% }) %>
                        </tbody>
                    </table>
                    <div id="alerta" class="col-12 alert alert-info" style="display: none;">
                        <h1 class="display-5 ">
                            Banco de dados vazio!
                        </h1>
                        
                    </div>

                </div>
            </div>
        </div>
    </section>






    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
        <script>
            if ($('#tabela').children().length > 0) {
                $("#alerta").css({ display: "none" })  
            }
            else{
                $("#alerta").css({ display: "flex"})
            }
             
         </script>
    

</body>

</html>